<section class="content-wrapper">
        <div class="row">
            <div class="eleven column">
                <p class="lead">Profil Diri Anda</p>
                <div id="contact-form-area">
                    <!-- Contact Form Start //-->
                        <% if(flash && flash.err) { %>
                      <ul class="alert alert-success" type="none">
                        <% Object.keys(flash.err).forEach(function(error) { %>
                          <li><%= JSON.stringify(flash.err[error]) %></li>
                        <% }) %>
                        </ul>
                    <% } %>
                        <fieldset> 
                        <label>Nama</label>
                         <input type="text" class="textfield" id="ticket" value="<%=user.name%>" readonly="true"/>
                         <label>No.HP</label>
                         <input type="text" class="textfield" id="ticket" value="<%=user.nohp%>" readonly="true"/>
                         <label>Email</label>
                         <input type="text" class="textfield" id="ticket" value="<%=user.email%>" readonly="true"/>
                         <label>Nama Bank</label>
                         <input type="text" class="textfield" id="ticket" value="<%=user.namabank%>" readonly="true"/>
                         <label>No. Rekening</label>
                         <input type="text" class="textfield" id="ticket" value="<%=user.norek%>" readonly="true"/>
                         <label>Nama Rekening</label>
                         <input type="text" class="textfield" id="ticket" value="<%=user.namarek%>" readonly="true"/>
                         <label>PIN</label>
                         <input type="password" class="textfield" id="ticket" value="<%=user.pin%>" readonly="true"/>
                        <label>Ticket</label>                           
                        <input type="text" class="textfield" id="ticket" value="<%=user.ticket%>" readonly="true"/>
                        <label>Bonus Sponsor</label>                           
                        <input type="text" class="textfield" id="ticket" value="<%=user.sponsor%>" readonly="true"/>  
                        <label>Bonus Manager</label>                           
                        <input type="text" class="textfield" id="ticket" value="<%=user.manager%>" readonly="true"/>  
                        <div class="clear"></div> 
                        <label>&nbsp;</label>
                        <a href="/user/editprofile"><button type="submit" class="buttoncontact" id="buttonsend">Edit Profil</button></a>
                        <span class="loading" style="display: none;">Please wait..</span>
                        <div class="clear"></div>
                        </fieldset> 
                    <!-- Contact Form End //-->
                </div>  
            </div>     
        </div>              
    </section>